//responsive
@mixin respond-to($breakpoint){
    @if($breakpoint == xSmall){
        @media (max-width: $breakpoint-xSmall){
            @content;
        }
    }
    @else if($breakpoint == small){
        @media (min-width: $breakpoint-small){
            @content;
        }
    }
    @else if($breakpoint == medium){
        @media (min-width: $breakpoint-medium){
            @content;
        }
    }
    @else if($breakpoint == large){
        @media (min-width: $breakpoint-large){
            @content;
        }
    }
    @else if($breakpoint == xLarge){
        @media (min-width: $breakpoint-xLarge){
            @content;
        }
    }
    @else{
        @error 'UNKNOWN MEDIA BREAKPOINT #{$breakpoint}';
    }
}

//button
@each $sizeName, $h, $space, $fs in $btn-size{
    .btn.#{$sizeName} {
        height: rem($h);
        padding-left: rem($space);
        padding-right: rem($space);
        font-size: rem($fs);
    }
}