$basic-color1:#000;
$basic-color2:#222;
$basic-color3:#777;
$basic-color4:#aaa;
$basic-color5:#fff;

$point-color1:#c29721;
$point-color2:#8f6f18;

$bg-color1:#f3f3f3;
$bg-color2:#f9f9f9;

$line-color1:#c7c7c7;
$line-color2:#eaeaea;

$gnb-bg: #222;

//url
$img-url: '../images/';
$font-url: '../fonts/';

//font 
$html-font-size: 62.5%;
$font-name1: 'SUIT';
$font-name2: 'Pretendard';

//분기점 (~479, 480~767, 768~1023, 1024~1279, 1280~)
$breakpoints: (
  'xSmall': (max-width: 479px),
  'small': (min-width: 480px),
  'medium': (min-width: 768px),
  'large': (min-width: 1024px),
  'xLarge': (min-width: 1280px),
);

//컨텐츠 여백
$content-space: 16;
$content-space-xLarge: 80;

//form
$form-height: 36;
$form-placeholder: #ccc;
$form-side-space: 8;
$form-default-bg: #fff;
$form-default-line: #c7c7c7;
$form-default-color: #222;

$form-focus-bg: #222;
$form-focus-line: #222;
$form-focus-color: #fff;

$form-disabled-bg: #f8f8f8;
$form-disabled-line: #eaeaea;
$form-disabled-color: #aaa;

$form-readonly-bg: #f8f8f8;
$form-readonly-line: #c7c7c7;
$form-readonly-color: #777;

$checkbox-size: 20;
$checkbox-default-color: #777;
$checkbox-checked-color: #222;

$radio-size: 18;
$radio-circle: #eaeaea;
$radio-circle-checked: #222;
$radio-default-color: #777;
$radio-checked-color: #222;

//button Btn
//button size (이름, 높이, 좌우여백, 폰트크기, 굵기)
$btn-size: (
  'xSmall' 30 5 12 300,
  'small' 36 8 14 400,
  'medium' 40 16 18 500,
  'large' 60 16 22 700,
);
//button color (이름, 배경색, 선색, 폰트색)
$btn-color: (
  'point1' $point-color1 $point-color1 $basic-color5,
  'point2' $basic-color5 $point-color1 $point-color1,
  'black1' $basic-color1 $basic-color1 $basic-color5,
  'black2' $basic-color5 $basic-color1 $basic-color1,
  'gray1' $bg-color1 $basic-color4 $basic-color4,
)