$basic-color1:#000;
$basic-color2:#222;
$basic-color3:#777;
$basic-color4:#aaa;

$point-color1:#c29721;
$point-color2:#8f6f18;
$point-color3:#fff;

$bg-color1:#f3f3f3;
$bg-color2:#f9f9f9;

$line-color1:#c7c7c7;
$line-color2:#eaeaea;