$basic-color1:#000;
$basic-color1:#222;
$basic-color2:#777;
$basic-color3:#aaa;

$point-color1:#c29721;
$point-color2:#8f6f18;
$point-color3:#fff;

$bg-color1:#f3f3f3;

$line-color1:#c7c7c7;
$line-color2:#eaeaea;