@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:400; 
	src:url('../fonts/NotoSansKR-Regular.eot');
	src:url('../fonts/NotoSansKR-Regular.woff') format('woff'),
		url('../fonts/NotoSansKR-Regular.otf') format('otf'),
		url('../fonts/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype');
}

html {
	font-size: $html-font-size;
}

body {
	color: $basic-color1;
	font-size: 1rem;
}