@font-face {
	font-family: $font-name1;
	font-weight: 100;
	src: local('#{$font-name1} Thin'), 
				url('#{$font-url}#{$font-name1}/#{$font-name1}-Thin.woff2') format('woff2'), 
				url('#{$font-url}#{$font-name1}/#{$font-name1}-Thin.ttf') format('truetype');
}
@font-face {
	font-family: $font-name1;
	font-weight: 300;
	src: local('#{$font-name1} Light'), 
				url('#{$font-url}#{$font-name1}/#{$font-name1}-Light.woff2') format('woff2'), 
				url('#{$font-url}#{$font-name1}/#{$font-name1}-Light.ttf') format('truetype');
}
@font-face {
	font-family: $font-name1;
	font-weight: 400;
	src: local('#{$font-name1} Regular'), 
				url('#{$font-url}#{$font-name1}/#{$font-name1}-Regular.woff2') format('woff2'), 
				url('#{$font-url}#{$font-name1}/#{$font-name1}-Regular.ttf') format('truetype');
}
@font-face {
	font-family: $font-name1;
	font-weight: 500;
	src: local('#{$font-name1} Medium'), 
				url('#{$font-url}#{$font-name1}/#{$font-name1}-Medium.woff2') format('woff2'), 
				url('#{$font-url}#{$font-name1}/#{$font-name1}-Medium.ttf') format('truetype');
}
@font-face {
	font-family: $font-name1;
	font-weight: 600;
	src: local('#{$font-name1} SemiBold'), 
			url('#{$font-url}#{$font-name1}/#{$font-name1}-SemiBold.woff2') format('woff2'), 
			url('#{$font-url}#{$font-name1}/#{$font-name1}-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: $font-name1;
	font-weight: 700;
	src: local('#{$font-name1} Bold'), 
			url('#{$font-url}#{$font-name1}/#{$font-name1}-Bold.woff2') format('woff2'), 
			url('#{$font-url}#{$font-name1}/#{$font-name1}-Bold.ttf') format('truetype');
}

/* 가격, 상품아이콘 */
@font-face {
	font-family: $font-name2;
	font-weight: 800;
	font-display: swap;
	src: local('#{$font-name2} ExtraBold'), 
				url('#{$font-url}#{$font-name2}/#{$font-name2}-ExtraBold.subset.woff2') format('woff2'), 
				url('#{$font-url}#{$font-name2}/#{$font-name2}-ExtraBold.subset.woff') format('woff');
}
@font-face {
	font-family: $font-name2;
	font-weight: 900;
	font-display: swap;
	src: local('#{$font-name2} Black'), 
				url('#{$font-url}#{$font-name2}/#{$font-name2}-Black.subset.woff2') format('woff2'), 
				url('#{$font-url}#{$font-name2}/#{$font-name2}-Black.subset.woff') format('woff');
}

html {
	font-size: $html-font-size;
}

body {
	font-family: $font-name1, sans-serif;
	font-weight: 400;
	color: $basic-color1;
	font-size: 1.6rem;
}