.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 0 rem(15);
  height: rem(36);
  background-color: $basic-color5;
  border: 1px solid $basic-color2;
  color: $basic-color2;
  &:hover {
    color:#fff;
  }
  &.large {
    width: rem(200);
  }
}