#header {
  h1 {
    background-image:url('#{$img-url}/common/logo.png');
    background-repeat: no-repeat;
  }
  .section-logo {
    background-color: $gnb-bg;
    padding:0 rem($content-space);
    @include respond-to('xLarge'){
      padding:0 rem($content-space-xLarge);
    }
    transition: all 0.2s;
    .gnb li a {
      color: $basic-color5
    }
  }
}

.header-text-ad {
  padding: rem(10);
  background-color: $point-color1;
  color: $basic-color5;
  text-align: center;
}