#header {
  h1 {
    order:2;
    width: rem(56);
    height: 100%;
    background-image:url('#{$img-url}/common/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    text-indent: -9999em;
  }
  .section-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: rem(60);
    background-color: $gnb-bg;
    padding:0 rem($content-space);
    @include respond-to('xLarge'){
      padding:0 rem($content-space-xLarge);
    }
    transition: all 0.2s;
    [class^=fa]{
      color: $basic-color5;
    }

    [class^=box]{
      display: flex;
      align-items: center;
      gap:0 rem(16);
    }
    .box-left {
      order: 1;
    }
    .box-right {
      order: 3;
      .cart{
        position: relative;
        span{
          position: absolute;
          top: rem(-8);
          right: rem(-8);
          width: rem(16);
          height: rem(16);
          background-color: $point-color1;
          border-radius: 50%;
          color: $basic-color5;
          font-weight: 700;
          font-size: rem(5);
          line-height: rem(16);
          text-align: center;
        }
      }
    }
  }
  .gnb {
    display: none;
  }
  .gnb li a {
    @include en-upper;
    color: $basic-color5
  }

  .header-text-ad {
    padding: rem(10);
    background-color: $point-color1;
    color: $basic-color5;
    text-align: center;
  }

  @include respond-to('large'){
    h1 {
      order: 1;
      width: rem(80);
    }
    .section-main {
      justify-content: flex-start;
      .box-left {
        display: none;
      }
      .box-right {
        margin-left: auto;
      }
      .gnb {
        display: block;
        order: 2;
        margin-left: rem(24);
        ul {
          display: flex;

          a {
            padding:0 rem(16);
            font-weight:700;

            &:hover {
              color: $point-color1;
            }
          }
        }
      }
    }
  }
}